body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightgray;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-color{
    background-color:#47ACA8;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.brand-text-title {
    font-weight: bold;
    font-size: 2em;    
    color: #47ACA8;
    padding-left: 20px;
    padding-top: 20px;
}
.plot-title{
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    color: #47ACA8;
}
h3{
    font-size: 2em;
    font-weight: bold;
    color: #47ACA8;  
}
.para-text{
    font-size: 20px;
}
.img-size {
    width:40%;
    height: 40%;
}